{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "Api": "./src/api",
          "Screens": "./src/screens",
          "Components": "./src/components",
          "Constants": "./src/constants",
          "Ducks": "./src/ducks",
          "Images": "./src/public/img",
          "Sagas": "./src/sagas",
          "Utilities": "./src/utilities",
          "NodeModules": "./node_modules"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        "es2015",
        "stage-0"
      ]
    }
  }
}