@import './colors/project_default';

// General ---------------
$base-text: #202020;
$grey-background: #f2f2f2;

$social-colors : (
    'linkedin'    : #0074b8,
    'google-plus' : #dc4e40,
    'facebook'    : #4560a2,
    'twitter'     : #4baaf4,
    'quora'       : #b92b27,
    'reddit'      : #ff4500,
    'behance'     : #42c0fb,
    'dribbble'    : #c32361,
    'youtube'     : #cc181e
);
// -----------------------

// Header ---------------

// -----------------------

// Nav-bar ----------------

// -----------------------

// Footer ----------------

// -----------------------

// Buttons ---------------

// -----------------------

// Tables ----------------

// -----------------------
