.posts-page {

  .card-regular,
  .card-big {
    margin-bottom: 6.4rem;

    &-figure {
      width: 100%;
      background: {
        size: cover;
        position: center center;
        repeat: no-repeat;
      };
    }
  }

  .card-share {

    + .card-share {
      margin-top: 2rem;
    }

    .share-number {
      margin: 0;
      color: rgba(#333, .5);
      font-size: 1.4rem;
      text-align: center;

      &::before {
        @extend %faIcon;
        display: block;
        font-size: 1.8rem;
        line-height: 2.3rem;
      }

      &.facebook {

        &:hover {

          &::before {
            color: map_get($social-colors, facebook);
          }
        }

        &::before {
          content: '\f09a';
        }
      }

      &.twitter {

        &:hover {

          &::before {
            color: map_get($social-colors, twitter);
          }
        }

        &::before {
          content: '\f099';
        }
      }

      &.youtube {

        &:hover {

          &::before {
            color: map_get($social-colors, youtube);
          }
        }

        &::before {
          content: '\f16a';
        }
      }
    }
  }
}