.posts-page {

  .card-big {
    padding: 3.2rem;
    background: linear-gradient(90deg, transparent 20%, rgba($white, .25) 0);
    border-radius: .4rem;

    &-title {
      margin: 0 0 1.8rem;
      color: $white;
      font-size: 2rem;
    }

    &-date {
      margin: 1.8rem 0;
      color: rgba($white, .5);
      font-size: 1.4rem;
    }

    &-text {
      margin: 1.8rem 0 0;
      color: rgba($white, .75);
      font-size: 1.6rem;
      line-height: 2.7rem;
    }

    .btn-group {
      margin-top: 2.4rem;
    }

    &-link {
      border: .1rem solid $base-text;
      box-shadow: none;
      color: $base-text;
    }
  }
}
