@import '../utilities/color';
@import '../utilities/fonts_var';

// Buttons colors - transfer into 'utilities/colors.scss' file for project

$btn-text   : $white;
$btn-red    : color('state', 'red');
$btn-blue   : color('state', 'blue');
$btn-green  : color('state', 'green');
$btn-orange : color('state', 'orange');
// ----------------------

.btn {  // general styles for all buttons(<a>, <button>)
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 3.6rem;
  border: {
    width: 0;
    radius: 1.8rem;
  };
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .15);
  outline: none 0;
  background-color: transparent;
  font-family: $title-font-family;
  font-size: 1.6rem;
  line-height: 3.6rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  transition: all 100ms ease-in-out 0s;
  user-select: none;
  letter-spacing: .1rem;

  &:hover {
    border-radius: .4rem;
  }

  &.gradient-purple {
    background: linear-gradient(270deg, #7760cb 0%, #7a90d2 100%);
    color: $white;
  }
}
