@import '../utilities/color';
@import '../utilities/fonts_var';

// Form elements style

input[type='tel'],
input[type='text'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2.4rem;
  border: {
    width: 0;
    radius: .4rem;
  };
  outline: 0;
  font-weight: 400;
  line-height: 4.8rem;
}

textarea {
  resize: none;
}

label {
  display: inline-block;
  font-weight: 400;
}
